.vermelho{
    color: red;
    font-family: Arial;
    font-size: larger;

}
.azul{
    color: blue;
    font-family: Arial;
    font-size: larger;

}
.verde{
    color: green;
    font-family: Arial;
    font-size: larger;

}
.roxo{
    color: rgb(83, 4, 63);
    font-family: Arial;
    font-size: larger;

}
.titulo{
    font-size: 50px;
    font-style: bold;
    
}
.paragrafo{
    color: black;
    font-family: Arial;
    font-size: larger;
    font: bold;
}
.fundo{
    background-color: rgb(229, 249, 150);
}